.atlas{
  display: flex;

  &__video{
    flex-grow: 1;
    background-color: #b6b5b7;
    height: 90vh;

    display: flex;
    align-items: center;

    &-bg{

    }
  }

  &-control{
    background-color: green;
    width: 60rem;
    padding: 1rem;

    &__item{
      padding: 1rem;
      margin-bottom: 1rem;
      background-color: #3942af;

    }

    &__title{
      color: #e1e1e1;
      margin-bottom: 1rem;
    }

    &__btn:not(:first-child){
      margin-left: 1rem;
    }

    &__buttons{

    }
  }

}