
//https://sass-lang.com/documentation/syntax/special-functions

@font-face {
  src: url("../fotns/play/Play.woff2") format("woff2");
  font-family: 'Play';
  font-weight: 400;
//  src: url('../fonts/play/Play-Bold.eot');
//  src: local('Play-Bold'),
//  url('../fonts/play/Play-Bold.eot?#iefix') format('embedded-opentype'),
//  url('../fonts/play/Play-Bold.woff') format('woff'),
//  url('../fonts/play/Play-Bold.ttf') format('truetype');
//  font-weight: bold;
//  font-style: normal;
}
//
//@font-face {
//  font-family: 'Play';
//  src: url('../fonts/play/Play.eot');
//  src: local('Play'),
//  url('../fonts/play/Play.eot?#iefix') format('embedded-opentype'),
//  url('../fonts/play/Play.woff') format('woff'),
//  url('../fonts/play/Play.ttf') format('truetype');
//  font-weight: normal;
//  font-style: normal;
//}