
//https://sass-lang.com/documentation/syntax/special-functions

@font-face {
  font-family: "Play";
  src: url("../fotns/play/Play.eot?") format("eot"),
  url("../fotns/play/Play.woff2") format("woff2"),
  url("../fotns/play/Play.woff") format("woff"),
  url("../fotns/play/Play.ttf") format("truetype"),
  url("../fotns/play/Play.svg#Samplino") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Play";
  src: url("../fotns/play/Play-Bold.eot?") format("eot"),
  url("../fotns/play/Play-Bold.woff2") format("woff2"),
  url("../fotns/play/Play-Bold.woff") format("woff"),
  url("../fotns/play/Play-Bold.ttf") format("truetype"),
  url("../fotns/play/Play-Bold.svg#Samplino") format("svg");
  font-weight: bold;
  font-style: normal;
}