.footer3{
  display: none;
  background-color: #000;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #fff;

  &__wrap{
    display: flex;
    border-bottom: .1rem solid #e1e1e1;
    padding-bottom: 2rem;
  }

  &__sponsors{
    &-img{
      width: 50rem;
    }
  }

  &__grant{
    margin-left: auto;
    &-name{
      font-size: 2rem;
      padding-bottom: 1rem;
    }

    &-orders{
      padding-left: 2rem;
      padding-bottom: .5rem;
    }
  }

  &__order{
    padding-bottom: 1rem;
    &-link{
      font-size: 1.6rem;

    }
  }

  &__copy{
    padding: 2rem 0;
    font-size: 2rem;
  }
}