.hero{
  position: relative;
  height: 85rem;

  .container{
    position: relative;
  }

  &__bg{
    position: absolute;
    max-width: 192rem;
    width: 100%;
    height: 100%;
    &-mobile{
      display: none;
    }
    & img{
      object-position: center top;
    }
  }

  &__play{
    position: absolute;
    top: 19rem;
    left: 83.5rem;
    &_link{
      position: absolute;
      z-index: 10;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      box-sizing: content-box;
      display: block;
      width: 3.2rem;
      height: 4.4rem;
      border-radius: 50%;
      padding: 1.8rem 2.0rem 1.8rem 2.8rem;

      &:before {
        content: "";
        position: absolute;
        z-index: 0;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        display: block;
        width: 8rem;
        height: 8rem;
        background: #ba1f24;
        border-radius: 50%;
        animation: pulse-border 1500ms ease-out infinite;
      }
      &:after {
        content: "";
        position: absolute;
        z-index: 1;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        display: block;
        width: 8rem;
        height: 8rem;
        background: #fa183d;
        border-radius: 50%;
        transition: all 200ms;
      }
      &:hover:after {
        background-color: darken(#fa183d, 10%);
      }

      span {
        display: block;
        position: relative;
        z-index: 3;
        width: 0;
        height: 0;
        border-left: 3.2rem solid #fff;
        border-top: 2.2rem solid transparent;
        border-bottom: 2.2rem solid transparent;
      }
    }

  }

  &__title{
    position: absolute;
    top: 16.5rem;
    left: 42rem;
    font-size: 3.8rem;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__laboratory-name{
    font-size: 8rem;
    line-height: 115%;
    position: absolute;
    width: 62rem;
    object-fit: contain;
    top: 55rem;
    left: 50%;
    transform: translate(-50%, 0);
    text-transform: uppercase;
  }

  &__marquee{
    position: absolute;
    bottom: 5rem;
    width:100%;
    white-space:nowrap;
    overflow:hidden;
    padding-bottom: 1em;
    span {
      color:#fff;
      font-size:25px;
      display:inline-block;
      padding-left:100%;
      -webkit-animation: marquee 10s infinite linear;
      animation: marquee 10s infinite linear;
    }
  }
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

/* Бегущая строка*/
@keyframes marquee{
  0%{transform: translate(0, 0);}
  100%{transform: translate(-100%, 0)}
}
/* End Бегущая строка*/


/* Появление текста с движением*/

.left-to-right{
  animation-name: LeftToRight;
  animation-duration: 1s;
  //animation-delay: 1s;
  display: block;
  animation-timing-function: ease;
}

.right-to-left{
  animation-name: RightToLeft;
  animation-duration: 1s;
  //animation-delay: 1s;
  display: block;
  animation-timing-function: ease;
}

@keyframes LeftToRight{
  0%{
    opacity: 0;
    transform: translateX(-10rem);
  }
  80%{
    transform: translateX(2rem);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes RightToLeft{
  0%{
    opacity: 0;
    transform: translateX(10rem);
  }
  80%{
    transform: translateX(-2rem);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 48em) {
  .hero {
    height: 93.7rem;
    &__bg {
      width: 100%;
      height: 100%;

      &-desktop {
        display: none;
      }

      &-mobile{
        display: flex;
        height: 100%;
      }

      img{
        object-position: -12rem top;
      }
    }

    &__play{
      top: 30rem;
      left: 41rem;
      &_link {
        width: 1.6rem;
        height: 2.2rem;
        padding: 0.9rem 1.0rem 0.9rem 1.4rem;

        &:before {
          width: 4rem;
          height: 4rem;
        }

        &:after {
          width: 4rem;
          height: 4rem;
        }

        span {
          border-left: 1.6rem solid #fff;
          border-top: 1.1rem solid transparent;
          border-bottom: 1.1rem solid transparent;
        }
      }
    }

    &__title{
      display: none;
      left: 17.5rem;
      top: 28.8rem;
      font-size: 2rem;
    }

    &__laboratory-name{
      font-size: 6rem;
      width: 60rem;
      top: 50rem;
      left: 50%;
    }

    &__marquee{
      span{
        font-size: 1.8rem;
      }
    }
  }

}
