.pulsate{
  text-align: center;
  color: rgb(245,245,245);
  text-shadow: 0 -.1rem rgb(0, 0, 0 / 10%);
  animation: pulsate 1.2s linear infinite;
  //font-family: 'Pacifico',cursive;
}

/*Мигание названия сайта*/
@keyframes pulsate {
  50% { color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff; }
}