.soc{
  display: flex;
  padding: 0;
  margin: 0;
  height: 2.5rem;

  &__item{
    display: flex;
    align-items: center;

    &:not(:last-child){
      margin-right: 1rem;
    }
  }

  &__link{
    display: flex;

  }

  &__icon{
    width: 1.8rem;
    height: 1.2rem;
    transition-duration: 500ms;
    fill: #fff;

    &_telegram{
      width: 1.3rem;
      height: 1.2rem;
    }
  }
}

@media (max-width: 48em) {
  .soc{
    &__icon {
      width: 3.6rem;
      height: 2.4rem;
      &_telegram{
        width: 2.6rem;
        height: 2.4rem;
      }
    }

    &__item{
      &:not(:last-child){
        margin-right: 2rem;
      }
    }
  }
}

@media (min-width: 48em) {
  .soc{
    &__icon{
      &:hover{
        transform: scale(1.4);
        fill:rgb(102, 195, 208)
      }
    }
  }
}

