.title{
  //text-align: center;
  //&__header{
  //  font-weight: 700;
  //  font-size: 3.6rem;
  //  line-height: 133%;
  //  margin-bottom: 1.8rem;
  //}
  font-size: 4.8rem;
  font-weight: 700;
  padding-bottom: 3rem;

  &__white{
    color: white;
  }

  &__wrapper{
    &_black{
      background-color: rgba(0, 0, 0, 0.5);
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 2rem 0;
      border-radius: 2rem;
    }
  }
}

@media (max-width: 48em) {
  .title{
    font-size: 6.8rem;
  }
}