.video-preview{
  padding-top: 5rem;
  padding-bottom: 5rem;
  &__wrap{
    position: relative;
    width: 64rem;
    height: 36rem;
    margin: 5rem auto;
    padding: 4rem;
    &::before{
      @include borderAngle(4.3rem,4.8rem);
      left: -4rem;
      top: -4rem;
      z-index: 20;
    }
    &::after{
      @include borderAngle(4.3rem,4.8rem);
      right: -4rem;
      top: -4rem;
      transform: rotate(90deg);
      z-index: 20;
    }

    iframe{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      border-radius: 1rem;
    }
  }

  &__youtube{
    &:before{
      @include borderAngle(4.3rem,4.8rem);
      left: -4rem;
      bottom: -4rem;
      transform: rotate(270deg);
      z-index: 20;
    }
    &:after{
      @include borderAngle(4.3rem,4.8rem);
      right: -4rem;
      bottom: -4rem;
      transform: rotate(180deg);
      z-index: 20;
    }
  }
}


@media (max-width: 48em) {
  .video-preview{
    &__wrap{
      width: 48rem;
      height: 27rem;
    }
  }
}